:root {
    --hr-br:url("https://c4.wallpaperflare.com/wallpaper/144/222/411/code-rainbows-lights-colorful-wallpaper-preview.jpg");
    --txt-men:#ffff;
    --br-sp:#7c74748c;
    --bg-hab:#574141b7 ;
    --color-spc:#000;
    --bac-pro: #00b7ffcc;
    --header-height: 60px;
    --bg-body: rgb(209, 207, 207);
    --txt-body: #000000;
    --bg-nav: #d2d2d2;
    --color-primary: #d2d2d2;
    --btn-color: #000;
    --hea-bac: linear-gradient(to right, #399dc5, #60bbdf);
    --btn-ab-menu:linear-gradient(to right, #0b3eca, #60bbdfc4);
    --menu:linear-gradient(to right, #0e3397d7, #109ed6);
    --fondo:linear-gradient(to right, #07184798, #60bbdf);
  }
body.dark {
  --hr-br:url("https://wallpapers.com/images/hd/programming-hd-2eo94s73hxhwjcta.jpg");
    --txt-men: #ffffff;
    --br-sp:#00000098;
    --bg-hab:#b48b8b;
    --color-spc: #ffff00;
    --bac-pro: #399dc5;
    --bg-body: #000000;
    --txt-body: #ffffff;
    --bg-nav: #2e0000;
    --color-primary: #399dc5;
    --btn-color: #ebd8d8;
    --hea-bac: linear-gradient(to right, #041c5e, #3a6e83);
    --btn-ab-menu:linear-gradient(to right, #0640e0fa, #22424ec4);
    --menu:linear-gradient(to right, #041c5e98, #3a6e83);
    }
html {
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth ;
    
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body{
    background-color:var(--bg-body);
    overflow-x: hidden;
}
/* ******************* MAIN **************** */
.section {
    padding: 45px 0 20px;
  }
  
  .section__title {
    position: flex;
    margin-left: 22%;
    text-align: center;
    font-size: 2.5rem;
    color: var(--txt-body);
    font-size: 50px;
  }
  
  .section__title::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    content: '';
    display: inline-block;
    width: 50px;
    height: 5px;
    border-radius: 4px;
    background-color: var(--color-primary);
    transform: translateX(-50%);
  }
  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .btn_abrir{
    display: none;
  }
  .btn_cerrar{
    display: none;
  }
  .btn {
    background-color: transparent;
    border: none;
    padding: .75em 1.5em;
    cursor: pointer;
    color: var(--btn-color);
    width: min-content;
    text-decoration: none;
}
.btn:hover{
    color: var(--bg-nav);
    transition: .5s;
}
.btn_mode:hover {
    color: var(--btn-color);
    transform: rotate(180deg)
}
.main {
    overflow: hidden;
}
  
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 1px 2px 10px var(--txt-body);
    background: var(--hea-bac);
    z-index: 1000;
}
.nav {
    height: 60px;
    display: flex;
    margin-left: 20%;
    justify-content: space-between;
    align-items: center;
}
.btn_languages{
  color: var(--btn-color);
}

/* ******************* MENU **************** */
.menu {
    display: flex;
    background: var(--menu);
    flex-direction: column;
    position: fixed;
    justify-content: space-evenly;  
    top: 60px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    align-items: flex-start;
    box-shadow: 1px 2px 20px var(--txt-body);
    overflow-y: auto; 
  }
  .menu__info{
    border-bottom: 1px solid var(--txt-body);
    padding: 15% 0;

  }
  
  .menu__lista {
    width: 100%;
    color: var(--txt-men);
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    height: 100%;
}
.menu__link {
    color: var(--txt-body);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
}
.menu__link:hover {
    color: bisque;
    opacity: .100;
}
.menu__link.activo{
    color: var(--color-primary);
}
.btn_resumen { 
    display: flex;
    gap: 10%;
    background-color: transparent;
    color: var(--btn-color);
    font-weight: 1000;
    width: min-content;
    text-decoration-style: double;
    font-size: 1.25rem;
  bottom: auto;
}
.btn_resumen:hover {
    color: var(--bg-nav);
    transition: .5s;
}
.img_mode {
    position: absolute;
    width: 20%;
    height: 60px;
    top: 0px; 
    left: 0;
    z-index: 1;
}
.hero {
  background-image: var(--hr-br);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  margin-left: 19%;
  justify-content: center;
  align-items: center;
  width: 81%;
}
.hero_img {
    height: 25vh;
    border-radius: 20%;
    object-fit: contain;
    transition: transform .5s;
    z-index: -10
  }

  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .hero__title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--txt-body);
    background-color: var(--br-sp);
  }
  
  .hero__name {
    font-size: 3.2rem;
    color: var(--color-primary);
    font-weight: 700;
  }
  
  .hero__description {
    min-width: 300px;
  }
  
  .hero__animation {
    animation-name: saludo-animacion;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    display: inline-block;
    transform-origin: 70% 70%;
    animation: saludo-animacion 2.5s infinite;
  }
  .hero__img {
    width: 10%;
    height: 1%;
    border-radius: 20%;
    object-fit: contain;
    transition: transform .5s;
    z-index: -10
    ;
  }
  
  .hero_img:hover {
    transform: scale(1.1);
  }

  @keyframes saludo-animacion {
    0% {
      transform: rotate(0deg);
    }
  
    10% {
      transform: rotate(14deg);
    }
  
    20% {
      transform: rotate(-8deg);
    }
  
    30% {
      transform: rotate(14deg);
    }
  
    40% {
      transform: rotate(-4deg);
    }
  
    50% {
      transform: rotate(10deg);
    }
  
    60% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .hero__description {
    font-size: 1.5rem;
    padding: .5em 1em;
    background-color: var(--color-primary);
    border-radius: 12px;
    text-align: center;
  }
  
  .social {
    list-style: none;
    padding: 0;
    margin: 0px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
  }
  
  .social__link {
    background-color: var(--color-primary);
    font-size: 170%;
  }
  
  .social__link i {
    font-size: 24px;
    transform: scale(1);
    transition: color .5s, transform .3s;
  }
  
  .social__link i:hover {
    transform: scale(1.3);
    color: var(--color-primary);
  }
  /* sobre mi */
  .section {
    position: relative;
    border-bottom: none;
  }
  
  .section::after {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 45%;
    height: 1px; 
    background-color: var(--btn-color);
  }
.about__content p {
    margin-left: 24%;
    font-size: 2.5rem;
    color: var(--btn-color);
}
  /* Habilidades */
  .habilidades__container{
    display: grid;
    margin-left: 24%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px
}
.habilidades__card {
    background-color: var(--bg-hab);
    border-radius: 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
.habilidades__icon {
    width: 50px;
  }
.imgs{
  width: 50px;
}
  
.habilidades__text {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: var(--bg-body);
  }
  
.habilidades__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
.habilidades__list {
    list-style: none;
    padding: 0px;
  }
  .habilidades__subtitle{
    margin-left: 25%;
    font-size: 250%;
    color: var(--txt-body);
  }
  .bx-check{
    margin-left: 25%;
    font-size: 250%;
    padding: 25px;
    font-weight: 900;
    color: var(--txt-body);
  }
  .habilidades__pasivas{
    font-weight: 900;
    font-size: 200%;
    color: var(--txt-body);
  }

  /* proyectos */
  .projects__container {
    margin-left: 24%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
  }
  
  .projects__card {
    background-color: var(--bac-pro);
    width: 300px; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 2px 5px var(--txt-body);
  }
  
  .project__img-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    box-shadow: 2px 2px 20px var(--txt-body);
  }
  
  .projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s;
    
  }
  
  .projects__card:hover .projects__img {
    transform: scale(1.25);
  }
  
  .projects__links {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    
  }
  
  .projects__links a {
    visibility: hidden;
    opacity: 0;
    font-size: 12px;
    color: var(--color-spc);
    box-shadow: 0 20px 0 20;
    background-color: var(--bac-pro);
    padding: .5em 1em;
    display: inline-block;
    border-radius: 4px 4px 0 0;
    transition: opacity .5s;
  }
  
.projects__card:hover .projects__links a {
    visibility: visible;
    opacity: 1;
    }
  
.projects__content {
    padding: 20px;
  }
/* contacto */
.contact__content {
    margin-left: 24%;
    padding-top: 20px;
    text-align: center;

}

.contact__text {
    margin-bottom: 40px;
    font-size: 200%;
    color: var(--txt-body);
}

.contact__box {
    font-size: 150%;
    border: 1px solid var(--btn-color);
    border-radius: 5px;
    padding: .5em 1em;
    width: max-content;
    margin: 0 auto;
}

.contact__link {
    text-decoration: none;
    color: var(--btn-color);
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}

.contact__link p {
    border-left: 2px solid var(--btn-color);
    padding-left: 10px;
}

.footer{
    font-weight: 900;
    font-size: 120%;
    color: var(--txt-body);
    justify-content: right;
  }
  .footer__container {
    position: relative;
    margin-left: 20%;
    margin-right: 0;
    right: 0;
    border-top: 1px solid var(--btn-color);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}
.footer__social{
  width: min-content;
}

.hidden {
    display: none;
}
@media (max-width: 900px) {
    .menu {
        border-top-right-radius: 90%;
        background: var(--menu);
        flex-direction: column;
        justify-content: space-evenly;        
        position: fixed;
        top: 0;
        right: 0;
        left: -100%;
        bottom: 0;
        width: 75%;
        transition: left .5s;
        box-shadow: none;
        align-items: flex-start;
        z-index: 10000;
        nav-index: auto;
    } 
    .show_menu {
        left: 0;
    }
    .menu__info{
      border: none  ;
      padding: 0;
    }
    
    .menu__lista {
        flex-direction: column;
        width: auto;
        justify-content: space-evenly;
        list-style: none;
        padding: 2px;
        padding-top: 60px;
        margin: 10px;
        color: var(--txt-men);
    }
    .menu__link {
        color: var(--txt-men);
        font-size: 32px;
        font-weight: 1000;
        text-decoration: none;

    }
    .menu__link:hover {
        color: bisque;
        opacity: .100;

    }
    .main {
        margin-top:  var(--header-height);
        margin-left: 0;
    }
    .btn_cerrar {
        visibility: visible;
        background-color: transparent;
        color: aquamarine;
        position: absolute;
        top: 10px;
        font-size: 28px;
        width: 48px;
        height: 48px;
        padding: .5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn_cerrar:hover {
        opacity: .100;
    }
    .btn_resumen {
        background-color: transparent;
        color: var(--btn-color);
        font-weight: 700;
        width: min-content;
        text-decoration-style: double;
        font-size: 20px;
    }
    .btn_resumen:hover {
        color: var(--bg-nav);
        transition: .5s;
    }

    .btn_abrir {
        background:var(--btn-ab-menu);
        color: aquamarine;
        position: fixed;
        bottom: 20px;
        left: -40px;
        font-size: 30px;
        width: .0px;
        height: 90px;
        padding: 1em;
        border-radius: 50%;
        display: flex;
        justify-content: left;
        align-items: center;
        transition: left .5s;
    }
    .btn_abrir.hidden {
        left: -60px;
        transition: left 5s;
    } 
    .btn_abrir:hover {
        background-color: rgba(255, 0, 0, 0.993);
        transition: background-color 0.3s;
        width: 65px;
    }
    .section__title {
        position: flex;
        margin-left: 0%;
        text-align: center;
        color: var(--txt-body);
        font-size: 50px;
      }
    .hero {
      margin: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      
      .hero__container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .hero__title {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 400;
        color: var(--txt-body);
        background-color: var(--br-sp);
      }
      
      .hero__name {
        font-size: 3.2rem;
        color: var(--color-primary);
        font-weight: 700;
      }
      
      .hero__description {
        min-width: 300px;
      }
      .hero__description {
        font-size: 1.5rem;
        padding: .5em 1em;
        background-color: var(--color-primary);
        border-radius: 12px;
        text-align: center;
      }
      
      .social {
        list-style: none;
        padding: 10px;
        margin: 30px 0;
      
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 40px;
        
      }
      
      .social__link {
        background-color: var(--color-primary);
        font-size: 170%;
      }
      
      .social__link i {
        font-size: 24px;
        transform: scale(1);
        transition: color .5s, transform .3s;
      }
      
      .social__link i:hover {
        transform: scale(1.3);
        color: var(--color-primary);
      }
    .object {
        display: none;
    }
    .about__content p {
        margin-left: 0%;
        font-size: 40px;
      }
      /* Habilidades */
      .habilidades__container{
        margin-left: 5%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 20px
      }
      .habilidades__card {
        margin-left: 0%;
        margin-right: 10%;
        border-radius: 5%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        color: var(--bg-hab);
      }
      .imgs{
        width: 50px;
      }
      
      .habilidades__icon{
        justify-content: center;
        width: 5px;
        margin-left: 0%;
        align-items: center;
      } 
      
    .habilidades__text {
        display: block;
        text-align: center;
      }
      
    .habilidades__content {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
      
    .habilidades__list {
        list-style: none;
        padding: 0px;
      }
      .habilidades__pasivas{
        margin-left: 0%;
        font-weight: 900;
        font-size: 100%;
      }
      .bx-check{
        margin-left: 0%;
      }
/* Proyectos*/
  .projects__card {
    width: 300px; 
    border-radius: 10px;
    overflow: hidden;
  }
  
  .projects__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto;
    gap: 20px; 
}
  .project__img-container {
    margin: 0;
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s;
  }
  
  .projects__card:hover .projects__img {
    transform: scale(1.25);
  }
  
  .projects__links {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 80%;
  }
  
  .projects__links a {
    visibility: hidden;
    opacity: 0;
    font-size: 12px;
    color: var(--color-text);
    background-color: var(--color-primary);
    padding: .5em 1em;
    display: inline-block;
    border-radius: 4px 4px 0 0;
    transition: opacity .5s;
  }
  
  .projects__card:hover .projects__links a {
    visibility: visible;
    opacity: 1;
  }
  
  
/* contacto */
    .contact__content {
        padding-top: 20px;
        text-align: center;
        margin-left: 0%;
    }
  
    .contact__text {
        margin-bottom: 40px;
    }
  
    .contact__box {
        border: 1px solid var(--btn-color);
        border-radius: 5px;
        padding: .5em 1em;
        width: min-content;
        margin: 0 auto;
        font-size: 120%;
    }
  
    .contact__link {
        text-decoration: none;
        color: var(--btn-color);
        display: flex;
        align-items: center;
        gap: 10px
    }
  
    .contact__link p {
        border-left: 2px solid var(--btn-color);
        padding-left: 10px;
    }
    .footer {
        margin-top: 40px;
    }
  
    .footer__container {
        margin-left: 0%;
        border-top: 1px solid var(--btn-color);
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
  
    .footer__social {
        margin: 0;
        width: auto;
    }

@media (min-width: 900px) {
    .btn_cerrar, .btn_abrir {
        display: none;
    }
}
@media (max-width:400px){
  .about__content p {
    margin-left: 5%;
    font-size: 100%;
    color: var(--btn-color);
}
  .projects__container {
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 30px;
  }
  
  .projects__card {
    width: 300px; 
    border-radius: 10px;
    overflow: hidden;
  }
  .project__img-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s;
  }
  
  .projects__card:hover .projects__img {
    transform: scale(1.25);
  }
  
  .projects__links {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 80%;
  }
  
  .projects__links a {
    visibility: hidden;
    opacity: 0;
    font-size: 12px;
    color: var(--color-text);
    background-color: var(--color-primary);
    padding: .5em 1em;
    display: inline-block;
    border-radius: 4px 4px 0 0;
    transition: opacity .5s;
  }
  
  .projects__card:hover .projects__links a {
    visibility: visible;
    opacity: 1;
  }
  
  .projects__content {
    padding: 20px;
  }
  .contact__content {
    padding-top: 2px;
    text-align: left;
    margin-left: 0%;
}

.contact__text {
    margin-left: 5%;
    font-size: 100%;
    color: var(--btn-color);
}

.contact__box {
    border: 1px solid var(--btn-color);
    border-radius: 5px;
    padding: .5em 1em;
    width: min-content;
    margin: 0 auto;
    font-size: 100%;
}

.contact__link {
    text-decoration: none;
    color: var(--btn-color);
    display: flex;
    align-items: center;
    gap: 10px
}

.contact__link p {
    border-left: 2px solid var(--btn-color);
    padding-left: 10px;
}
}
}